* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap-all-content {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.sidebar {
    height: auto;
    width: 40vw;
    background-image: url(../images/back.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #000;
    opacity: .7;

    position: relative;
    top: 25vh;
    gap: 5px;
    padding: 20px 0px;
}

.logo-name {
    color: beige;
    font-size: 48px;
    font-family: "Dancing Script", Arial;
    font-weight: 100;
}

.author {
    font-size: 12px;
    position: absolute;
    top: 97%;
    left: 15%;
}

a {
    text-decoration: none;
    color: #08969b; 
}

a:hover {
    color: #08969b; 
    text-decoration: none; 
    cursor: pointer;  
}

a:visited {
    color: #08969b; 
    text-decoration: none;  
}

.content {
    width: 60vw;
    background-color: rgb(35, 34, 33);
}

svg {
    height: 80px;
    width: 100px;
}

@media screen and (max-width: 600px) {

    .wrap-all-content {
        flex-direction: column;
        flex-wrap: wrap;
        width: 100vw;
    }

    .sidebar {
        height: 30vh;
        width: 100vw;
    }

    .content {
        width: 100vw;
        height: 70vh;
    }
    
    svg {
        height: 80px;
        width: 60px;
    }

    .logo {
        background-color: #000;
        opacity: .5;
        box-shadow: 0px 0px 20px 1px rgb(52, 100, 114);
    
        position: relative;
        top: 7vh;
        gap: 20px;
        padding: 20px 0px;
    }

    .author {
        font-size: 12px;
        position: absolute;
        top: 27%;
        left: 40%;
    }
  }