* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap-all-content {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.sidebar {
    height: auto;
    width: 40vw;
    background-image: url(../images/back.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #000;
    opacity: .7;

    position: relative;
    top: 25vh;
    gap: 5px;
    padding: 20px 0px;
}

.logo-name {
    color: beige;
    font-size: 48px;
    font-family: "Dancing Script", Arial;
    font-weight: 100;
}

svg {
    height: 80px;
    width: 100px;
}

.author {
    font-size: 12px;
    position: absolute;
    top: 97%;
    left: 15%;
}

a {
    text-decoration: none;
    color: #08969b;
}

a:hover {
    color: #08969b;
    text-decoration: none;
    cursor: pointer;
}

a:visited {
    color: #08969b;
    text-decoration: none;
}

.content {
    width: 60vw;
    background-color: rgb(35, 34, 33);
    display: flex;
    flex-direction: column;
    font-family: Montserrat, Helvetica;
}

header {
    display: flex;
    align-items: center;
    margin-left: 20px;
    width: 75%;
    height: 30%;
    font-size: 12px;
    font-weight: 300;
    color: beige;
}

.main {
    height: 50%;
    background-color: rgb(40, 39, 38);
    box-shadow: 0 4px 10px -2px rgb(86, 82, 82);
}

footer {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 20px;
    gap: 30px;
    width: 40%;
    height: 20%;
    color: beige;
    font-size: 12px;
}

p>a:hover {
    color: beige;
    text-decoration: none;
    cursor: pointer;
}

button {
    font-family: Montserrat, Helvetica;
    color: beige;
    background-color: rgb(35, 34, 33);
    border: 2px solid #08969b;
    width: 200px;
    border-radius: 8px;
    padding: 16px 35px;
    font-size: 15px;
}

button:hover {
    background-color: #08969b;
    cursor: pointer;
}

@media screen and (max-width: 600px) {

    .wrap-all-content {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100vw;
    }

    .sidebar {
        height: 30vh;
        width: 100vw;
    }

    .content {
        width: 100vw;
        height: 70vh;
    }

    svg {
        height: 80px;
        width: 60px;
    }

    .logo {
        background-color: #000;
        opacity: .5;
        box-shadow: 0px 0px 20px 1px rgb(52, 100, 114);

        position: relative;
        top: 7vh;
        gap: 20px;
        padding: 20px 0px;
    }

    .author {
        font-size: 12px;
        position: absolute;
        top: 27%;
        left: 40%;
    }

    header {
        font-size: 10px;
    }

    .content {
       align-items: center;
       height: 70vh;
       overflow: scroll;
       padding-bottom: 15px;
    }

}