* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap-all-content {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.sidebar {
    height: auto;
    width: 40vw;
    background-image: url(../images/back.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #000;
    opacity: .7;

    position: relative;
    top: 25vh;
    gap: 5px;
    padding: 20px 0px;
}

.logo-name {
    color: beige;
    font-size: 48px;
    font-family: "Dancing Script", Arial;
    font-weight: 100;
}

svg {
    height: 80px;
    width: 100px;
}

.author {
    font-size: 12px;
    position: absolute;
    top: 97%;
    left: 15%;
}

a {
    text-decoration: none;
    color: #08969b;
}

a:hover {
    color: #08969b;
    text-decoration: none;
    cursor: pointer;
}

a:visited {
    color: #08969b;
    text-decoration: none;
}

.content {
    width: 60vw;
    background-color: rgb(35, 34, 33);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Montserrat, Helvetica;
}

header {
    display: flex;
    align-items: center;
    margin-left: 30px;
    width: 75%;
    font-size: 12px;
    font-weight: 300;
    color: beige;
}

.main {
    gap: 20px;
    padding-left: 30px;
    background-color: rgb(40, 39, 38);
    box-shadow: 0 4px 10px -2px rgb(86, 82, 82);
}

form h2 {
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    color: beige;
    margin-top: 40px;
}

form {
    color: beige;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
}

label {
    font-size: 12px;
    text-transform: uppercase;
}

input {
    margin-bottom: 15px;
    margin-top: 2px;
    width: 160px;
    height: 30px;
    text-indent: 5px; /*for placeholder padding*/
    border: 1px solid #E5E7EB;
    border-radius: 5px;
}

footer {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 30px;
    gap: 30px;
    width: 50%;
    color: beige;
    font-size: 12px;
    flex: 1 1 auto;
}

p > a:hover {
    color: beige;
    text-decoration: none;
    cursor: pointer;
}

button {
    font-family: Montserrat, Helvetica;
    color: beige;
    background-color: rgb(35, 34, 33);
    border: 2px solid #08969b;
    width: 200px;
    border-radius: 8px;
    padding: 16px 35px;
    font-size: 15px;
}

button:hover {
    background-color: #08969b;
    cursor: pointer;
}

@media screen and (max-width: 660px) {

    .wrap-all-content {
        flex-direction: column;
        flex-wrap: wrap;
        height: auto;
    }

    .sidebar {
        width: 100vw;
        height: 12vh;
    }

    .logo {
        width: 100vw;
        top: 2vh;
        height: 50px;
    }

    .author {
       visibility: hidden;
    }

    .content {
        width: 100%;  
        height: auto;
    }

    header {
        margin: 5px auto;
        font-size: 10px;
    }

    .main {
        padding-top: 6px;
        padding-bottom: 6px;
        width: 100%;
    }

    form {  
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        gap: 5px;
    }

    form h2 {
        width: 100%;
        font-size: 20px;
        font-weight: 500;
        color: beige;
        margin: 6px auto;
    }

    input {
        margin-bottom: 15px;
        margin-top: 2px;
        width: 200px;
    }
    
    footer {
        align-items: center;
        gap: 5px;
        width: 100%;
        color: beige;
        font-size: 10px;
    }
    
    button {
        font-size: 10px;
        height: 20px;
        padding: 5px 35px;
    }
  
}